$blue: #3F8C91;
$really-light-blue: #A4CBCE;
$gold: #FFBF00;

#groups_actions {
    height: 50px;
    width: calc(100vw - 190px);
    border-bottom: 2px solid $blue;
    color: $blue;
    display: flex;
    background-color: $really-light-blue;

    a {
        text-decoration: none;
        color: $blue;
    }

    .group_action {
        height: 47px;
        padding-left: 10px;
        padding-right: 10px;
        border-right: $blue 1px solid;
        display: flex;
        align-items: center;

        &.active {
            color: $gold;
            font-weight: bold;
        }
    }
}
